body{
    overflow-x: hidden;
}
.navbar{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.navbar_wrapper{
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: space-between;
}
.logo{
    margin-top: 40px;
    height: 122px;
    width: 120px;
    cursor: pointer;
    z-index: 2;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_container{
    display: flex;
    align-items: center;
}
.contact_container > span{
    margin: 10px 10px 0 0;
    font-weight: 600;
}

.phone{
    cursor: pointer;
    margin-top: 13px;
}
.phone:hover{
    color: rgba(128,128,128, 0.6);
}


/*  dropdown hover*/


.ul_container{
    display: flex;
    justify-content: center;
    width: 85vw;
    list-style: none;
    font-weight: 600;
    font-size: 20px;
    gap: 50px;
}

.home_btn{
    cursor: pointer;
}
.dropdown_component{
    position: relative;
    border-radius: 3px;
    color: black;
    transition: background-color 0.5s ease;
}

.dropdown_component:hover{
    cursor: pointer;
}
.dropdown_component:hover > .dropdown{
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 5px 20px 10px 2px;
    justify-content: space-around;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.dropdown{
    display: none;
    position: absolute;
    left: 0;
    height: 16vh;
    background-color: #e0e0e0;
    padding: 10px;
    width: 500px;
    min-height: fit-content;
    border: 1px solid lightgrey;
    border-top: none;
    margin-top:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dropdown_element > span{
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 517px;
    height: 5vh;
    border-radius: 3px;
    transition: background-color 0.5s ease;
}
.dropdown_element > span:hover{
    background-color: #bccfd7;
    opacity: 0.6;
    color: black;
}
.dropdown_span_contact{
    border-radius: 3px;
    padding: 10px;
    transition: background-color 0.5s ease;
    height: 25px;
    cursor: pointer;
}
.dropdown_span_contact:hover{
    background-color: #bccfd7;
    opacity: 0.6;
}
.dropdown_element{
    width: 70px;
    color: black;
}
.dropdown_element:hover{
    color: white;
}
.dropdown_span{
    border-radius: 3px;
    padding: 10px;
    transition: background-color 0.5s ease;
    height: 40px;
}
.dropdown_span:hover{
    background-color: #bccfd7;
    opacity: 0.6;
}

.change_language{
    display: flex;
    justify-content: center;
    align-items: center;
}
.change_language_wrapper{
    position: absolute;
    right: 0;

}


/*MENU DROPDOWN*/

.menu_dropdown{
    display: none;
    align-items: center;
    font-size: 30px;
    transition: background-color 0.5s ease;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.menu_dropdown:hover{
    background-color: #bccfd7;
    opacity: 0.6;
}
.menu_icon{
    width: 39px;
    margin-top: 7px;
}





/*MEDIA*/

@media screen and (max-width: 590px) {
    .menu_dropdown > span{
        display: none;
    }
    .menu_icon{
        width: 50px;
    }
    .dropdown_span_contact{
        display: none;
    }
}
@media screen and (max-width: 1200px) {
    .ul_container{
        justify-content: flex-start;
    }
}
@media screen and (max-width: 950px) {
    .ul_container{
        display: none;
    }
    .menu_dropdown{
        display: flex;
        justify-content: center;
        margin-left: 40px;
    }
}
@media screen and (max-width: 395px) {
    .change_language {
        display: none;
    }
}

@media screen and (max-width: 225px) {
    .logo{
        display: none;
    }
    .menu_icon{
        width: 80px;
    }
}
